
.herosection-img{
    margin-top: -50px;
}
.floating-img {
    position: relative;
  }
  
  .hat {
    position: absolute;
    left: 10%;
    top: -520px; /* Adjust the value to position the image vertically */
    transform: translateY(-50%);
  }
  
  .book {
    position: absolute;
    right: 10%; /* Adjust the value to position the image horizontally */
    top: -580px; /* Adjust the value to position the image vertically */
    transform: translateY(-50%);
  }
  
  .colorcloud {
    position: absolute;
    right: 5%; /* Adjust the value to position the image horizontally */
    top: -800px; /* Adjust the value to position the image vertically */
    transform: translateY(-50%);
  }
  
  .fadedcloud {
    position: absolute;
    left: 10%;
    top: -850px; /* Adjust the value to position the image vertically */
    transform: translateY(-50%);
  }

  .fadedcloudtwo{
    position: absolute;
    left: 20%;
    top: -700px; /* Adjust the value to position the image vertically */
    transform: translateY(-50%);
  
  }
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value to change the distance of the movement */
    }
  }
  
  .hat, .book, .herosection-img {
    animation: moveUpDown 3s ease-in-out infinite; /* Adjust the duration (5s) as needed */
  }
  
  .colorcloud, .fadedcloud, .fadedcloudtwo {
    animation: moveUpDown 4s ease-in-out infinite; /* Adjust the duration (8s) as needed */
  }
  
  @keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(50px); /* Adjust the value to change the distance of the movement */
    }
  }
  
  @keyframes moveLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50px); /* Adjust the value to change the distance of the movement */
    }
  }
  
  .country-row-right {
    animation: moveRight 2s linear infinite alternate; /* Adjust the duration (2s) and timing function as needed */
  }
  
  .country-row-left {
    animation: moveLeft 2s linear infinite alternate; /* Adjust the duration (2s) and timing function as needed */
  }
  

.testimonial-section {
    max-width: 800px
}

.carousel-div {
    height: 600px;
    width: 600px;
    position: relative;
}

.caption {
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #00999F;
    border-radius: 10px;
}

.carousel-img-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.carousel-img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.caption-wrapper span {
    display: block;
}

.quote-icon {
    padding-top: 100px;
    font-size: 30px;
    color: #000;
}

.caption h3 {
    margin-bottom: 20px;
    margin-top: 70px;
}

.testimony-content {
    padding-left: 15px;
    padding-right: 15px;
}
